@using Sandbox;
@using Sandbox.UI;

@namespace Soyka

@inherits PanelComponent

<root onclick=@OnClick>
	<div class="title">@Points</div>
</root>

@code
{
    [Property] public PlayableAreaComponent PlayableArea { get; set; }
    [Property] public string Points => $"Points: {PlayableAreaComponent.Points}";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Points );

    protected override void OnUpdate()
    {
        base.OnUpdate();


    }

    void OnClick() => PlayableArea?.OnClick();
}
